[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.2"
dj-database-url = "==1.2.0"
django-analytical = "==3.1.0"
django-bootstrap-v5 = "==1.0.11"
django = "==4.1.4"
greenlet = "==2.0.1"
gunicorn = "==20.1.0"
pillow = "==9.3.0"
psycopg2-binary = "==2.9.5"
python-dotenv = "==0.21.1"
sqlparse = "==0.4.3"
tzdata = "==2022.7"
waitress = "==2.1.2"
whitenoise = "==6.5.0"

[dev-packages]

[requires]
python_version = "3.10"
