{% load static %}
<section id="contact" class="bg-primary p-5 p-sm-5 mt-5">
  {% include 'components/contact_form.html' %}
  <div class="container">
    {% if contact_data %}
    <ul class="nav justify-content-center my-3">
      {% for contact in contact_data %}
      <li class="nav-item me-5">
        <a href="#" class="nav-link px-2 text-white">
          <span class="material-icons material-icons-outlined contact-icon me-1"
            >place</span
          >
          {{ contact.address }}
        </a>
      </li>
      <li class="nav-item me-5">
        <a href="#" class="nav-link px-2 text-white">
          <span class="material-icons material-icons-outlined contact-icon me-1"
            >email</span
          >
          {{ contact.email }}
        </a>
      </li>
      <li class="nav-item me-5">
        <a href="#" class="nav-link px-2 text-white">
          <span class="material-icons material-icons-outlined contact-icon me-1"
            >phone</span
          >
          {{ contact.phone }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h5 class="bg-primary text-white text-center">No Data</h5>
    {% endif %}
  </div>
</section>
