<div class="row justify-content-center my-5">
  <div class="col-lg-6">
    <h2 class="text-white text-center">Contact Me!</h2>
    <p class="text-white text-center">Are you seeking assistance with your project, in need of code review, or looking for a coding mentor? Please don't hesitate to contact me. I am readily available to provide support and guidance on your coding journey. Reach out, and I will promptly respond with a Slack invitation and a link to my personal Discord. Let's collaborate and bring your ideas to life!</p>
    <form method="post" action="{% url 'contact_submit' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label text-white">Your Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label text-white">Your Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label text-white">Message</label>
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="5"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-light">Submit</button>
    </form>
  </div>
</div>
