{% load static %}
<header class="py-3">
    <div class="container px-5">
        {% if hero_data %}
        <div class="row align-items-center">
            {% for hero in hero_data %}
            <div class="col-lg-8 col-xl-7 col-xxl-6">

                <div class="my-5">
                    <h2 class="text-center fw-bold mb-2">{{ hero.title }}</h2>
                    <h2 class="text-center fw-bold mb-2">{{ hero.subtitle }}</h2>
                    <p class="lead text-center text-white mb-4">
                        {{ hero.description }}
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center m-3">
                        <a type="button" href="/resume" class="btn btn-light btn-lg text-uppercase px-4 py-2 me-sm-3">
                            Resume
                            <span class="material-icons material-icons-outlined ms-2">description</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 justify-content-center">
                <!-- Image by catalyststuff on Freepik -->
                {% if hero.image.url %}
                <img class="card-img-top" src="{% static 'images/hero.png' %}" alt="Hero Image" loading="lazy">
                {% else %}
                <img class="card-img-top" src="{% static 'images/hero.png' %}" alt="Alternate Hero Image"
                    loading="lazy">
                {% endif %}

            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5 class="text-white text-center">No Data</h5>
        {% endif %}
    </div>
</header>