<section id="about" class="text-center py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <h2 class="fw-bold">About</h2>
      <p class="lead text-muted mb-5">
        I am a freelance full stack developer who builds elegant, fast, and
        scalable web applications.
      </p>
    </div>
  </div>
  <div class="container">
    {% if about_data %}
    <div class="row">
      {% for about in about_data %}
      <div class="col-lg-4 mx-auto mb-5">
        <div class="d-flex mb-5 justify-content-center">
          <div
            class="about-icon d-inline-flex align-items-center justify-content-center bg-primary text-white fs-4 rounded-2"
          >
            <span
              class="about material-icons material-icons-outlined text-white"
              >{{ about.icon }}</span
            >
          </div>
        </div>
        <h5>{{ about.title }}</h5>
        <p class="text-muted mb-0">{{ about.description }}</p>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h5 class="text-primary text-center">No Data</h5>
    {% endif %}
  </div>
</section>
