<section id="projects" class="text-center py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <h2 class="fw-bold">Projects</h2>
            <p class="lead text-muted mb-5">
                View some of my favorite projects
            </p>
        </div>
    </div>
    <div class="container">
        {% if project_data %}
        <div class="row">

            {% for project in project_data %}
            {% include 'components/project_card.html' %}
            {% endfor %}

        </div>
        {% else %}
        <h5 class="text-primary text-center">No Data</h5>
        {% endif %}
    </div>
</section>