{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
  {% block nav-breadcrumbs %}
    <nav aria-label="{% translate 'Breadcrumbs' %}">
      <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        <span class="separator">&rsaquo;</span>
        {% for app in app_list %}
          <span class="app-name">{{ app.name }}</span>
        {% endfor %}
      </div>
    </nav>
  {% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}