{% extends "base.html" %}

{% block content %}
<div class='reset container'>
<form method="POST" action="{% url 'password_reset' %}" class="my-5">
  {% csrf_token %}
  <p class="text-center">Please provide your email to start the reset process</p>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="text" name="email" class="form-control" required><br>
  </div>

  <input type="submit" value="password_reset" class="btn btn-success">
</form>
</div>
{% endblock %}