{% extends "base.html" %}

{% block content %}
<div class="header">
        <nav class="navbar navbar-expand-lg shadow">
          <div class="container-fluid">
              <a
              class="col-md-3 d-flex align-items-center mb-0 mb-md-1 mb-lg-2 h4 text-white text-decoration-none text-uppercase fw-bolder"
              href="/"
              >
              <span class="material-icons material-icons-outlined ms-2 me-3"
                  >logo_dev</span
              >
              Ray
              <span class="d-lg-inline-block d-none">&nbsp;Thurman</span>
              </a>

              <button
              type="button"
              class="navbar-toggler"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
              >
              <span class="material-icons material-icons-outlined text-white"
                  >menu</span
              >
              </button>
              <div class="container px-3">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                          <li class="nav-item">
                              <a class="nav-link me-lg-3 text-white text-uppercase" href="/"
                              >Home</a
                              >
                          </li>
                          <li class="nav-item">
                              <a class="nav-link me-lg-3 text-white text-uppercase" href="/resume"
                              >Resume</a
                              >
                          </li>
                          <li class="nav-item">
                              <a class="nav-link me-lg-3 text-white text-uppercase" href="/blog"
                              >Blog</a
                              >
                          </li>
                          {% if user.is_authenticated %}
                          <li class="nav-item">
                              <a class="nav-link me-lg-3 text-white text-uppercase" href="/accounts/logout"
                              >Logout</a
                              >
                          </li>
                          {% else %}
                          <li class="nav-item">
                              <a class="nav-link me-lg-3 text-white text-uppercase" href="/accounts/login"
                              >Login</a
                              >
                          </li>
                          <li class="nav-item">
                              <a class="nav-link me-lg-3 text-white text-uppercase" href="/accounts/register"
                              >Register</a
                              >
                          </li>
                          {% endif %}
                      </ul>
                  </div>
              </div>
          </div>
      </nav>
</div>
<div class="login container py-5">
  {% if form.errors %}
    <div class="alert alert-danger">
      <p>Your passwords didn't match. Please try again. If the problem persists, please contact the administrator.</p>
    </div>
  {% endif %}

  <form method="post" class="my-5">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" required><br>
    </div>
    <div class="mb-3">
      <ul class="list-unstyled">
        <li class="list-item">Your password can’t be too similar to your other personal information.</li>
        <li class="list-item">Your password must contain at least 8 characters.</li>
        <li class="list-item">Your password can’t be a commonly used password.</li>
        <li class="list-item">Your password can’t be entirely numeric.</li>
        <li class="list-item">Ensure both passwords are the same!</li>
      </ul>
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" name="password1" class="form-control" required><br>
    </div>
    <div class="mb-3">
      <label for="password2" class="form-label">Password Confirmation</label>
      <input type="password" name="password2" class="form-control" required><br>
    </div>
    <button type="submit" class="btn btn-success">Register</button>
  </form>
</div>
{% endblock %}