{% extends "base.html" %} 
{% block title %}Raymond Thurman - Developer Resume{% endblock title %}
{% block content %}
<div class="header">
  <!-- Header -->
  <header id="summary" class="text-center py-5 fade-in">
    <div class="container">
      {% if summary_data %}
      <div class="row">
        {% for summary in summary_data %}
        <div class="col-lg-12 mx-auto my-5">
          <h2 class="fw-bold">{{ summary.title }}</h2>
          <p class="text-white mb-0">{{ summary.description }}</p>
        </div>
        {% endfor %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <a
            href="{% url 'download_resume' %}"
            class="btn btn-light btn-lg text-uppercase px-4 py-2 me-sm-3"
            >Download Resume</a
          >
        </div>
      </div>
      {% else %}
      <h5 class="text-primary text-center">No Data</h5>
      {% endif %}
    </div>
  </header>
  <!-- End Header -->

  <!-- Waves Container -->
  {% include 'components/waves_container.html' %}
  <!-- End Waves Container -->
</div>

<main>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <!-- Employment -->
        <section id="employment" class="text-left py-5">
          {% if employment_data %}
          <h2 class="fw-bold text-center py-3">Employment</h2>
          {% for employment in employment_data %}
          <div class="mx-auto mb-5">
            <h5>{{ employment.title }}</h5>
            <p class="text-muted mb-0">{{ employment.description }}</p>
          </div>
          {% endfor %} {% else %}
          <h5 class="text-primary text-center">No Data</h5>
          {% endif %}
        </section>
        <!-- End Employment -->
        <hr />
        <!-- Projects -->
        <section id="projects" class="text-left py-5">
          {% if projects_data %}
          <h2 class="fw-bold text-center py-3">Projects</h2>
          {% for projects in projects_data %}
          <div class="mx-auto mb-5">
            <h5>{{ projects.title }}</h5>
            <p class="text-muted mb-0">{{ projects.description }}</p>
          </div>
          {% endfor %} {% else %}
          <h5 class="text-primary text-center">No Data</h5>
          {% endif %}
        </section>
        <!-- End Projects -->
      </div>
      <div class="col-12 col-lg-4">
        <!-- Education -->
        <section id="education" class="text-center text-lg-end py-5">
          {% if education_data %}
          <h2 class="fw-bold text-center py-3">Education</h2>
          {% for education in education_data %}
          <div class="mx-auto mb-5">
            <h5>{{ education.title }}</h5>
            <p class="text-muted mb-0">{{ education.description }}</p>
          </div>
          {% endfor %} {% else %}
          <h5 class="text-primary text-center">No Data</h5>
          {% endif %}
        </section>
        <!-- End Education -->
        <hr />
        <!-- Skills -->
        <section id="skills" class="text-center text-lg-end py-5">
          {% if skill_data %}
          <h2 class="fw-bold text-center py-3">Skills</h2>
          {% for skill in skill_data %}
          <div class="mx-auto mb-4">
            <h5>{{ skill.skill }}</h5>
          </div>
          {% endfor %} {% else %}
          <h5 class="text-primary text-center">No Data</h5>
          {% endif %}
        </section>
        <!-- End Skill -->
      </div>
    </div>
  </div>
  <!-- Contact -->
  <section id="contact" class="bg-primary p-2 p-md-5 my-5">
  <div class="container">
    {% if contact_data %}
    <ul class="nav justify-content-center my-3">
      {% for contact in contact_data %}
      <li class="nav-item me-sm-3 me-lg-5">
        <a href="#" class="nav-link px-0 px-md-2 text-white">
          <span class="material-icons material-icons-outlined contact-icon me-1"
            >place</span
          >
          {{ contact.address }}
        </a>
      </li>
      <li class="nav-item me-sm-3 me-lg-5">
        <a href="#" class="nav-link px-0 px-md-2 text-white">
          <span class="material-icons material-icons-outlined contact-icon me-1"
            >email</span
          >
          {{ contact.email }}
        </a>
      </li>
      <li class="nav-item me-sm-3 me-lg-5">
        <a href="#" class="nav-link px-0 px-md-2 text-white">
          <span class="material-icons material-icons-outlined contact-icon me-1"
            >phone</span
          >
          {{ contact.phone }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <h5 class="bg-primary text-white text-center">No Data</h5>
    {% endif %}
  </div>
</section>
  <!-- End Contact-->
</main>
{% endblock %}
