{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<div class="home my-2 jumbotron">
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for post in blogpages %}
        {% with post=post.specific %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% with post.main_image as main_image %}
                            {% if main_image %}{% image main_image fill-80x80 %}{% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% pageurl post %}">{{post.title}}</a></h5>
                        <p class="card-text">{{post.intro}}</p>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}