{% extends 'base.html' %}
{% block title %}Blog | {{ post.title }}{% endblock title %}
{% block content %}
<div class="header">
    <header class="py-3">
        <div class="container px-5">
            <div class="row align-items-center">
              <div class="col-md-6 m-auto">
                  <div class="my-5">
                    <h2 class="text-center fw-bold mb-2">{{ post.title }}</h2>
                    <p class="text-center text-info">Posted by {{ post.author.username }} on {{ post.created_at|date:"F d, Y" }}</p>
                  </div>
              </div>
            </div>
        </div>
    </header>
    {% include 'components/waves_container.html' %}
</div>
<div class="container py-5">
  <div class="card mb-4 border-light">
    <div class="card-body">
      {{post.content|safe}}
    </div>
  </div>

  <h3>Comments</h3>
  <hr>

  {%if user.is_authenticated %}
  <form method="post" action="{% url 'blog:add-comment' post.pk %}" class="py-3">
    {% csrf_token %}
    <div class="mb-3">
      <label for="content" class="form-label">Your Comment</label>
      <textarea class="form-control" id="content" name="content" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    {% for comment in post.comment_set.all %}
      <div class="card mb-3">
        <div class="card-body">
          <p>{{ comment.content }}</p>
          <p class="text-info">Comment by {{ comment.author.username }} on {{ comment.created_at|date:"F d, Y" }}</p>
        </div>
      </div>
    {% empty %}
      <p>No comments yet.</p>
    {% endfor %}
  {% else %}
      <p>Please login or register to view and add comments.</p>
  {% endif %}
  <!-- Add comment form here -->
</div>
{% endblock %}
