{% load static %} {% load google_analytics_gtag %} {% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% google_analytics_gtag %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content={% block description %}"Raymond Thurman is a professional freelance web and software developer serving Choctaw and Pushmataha Counties in Southwestern Oklahoma. Contact Raymond for high-quality web development services."{% endblock description %}
    />
    <meta
      name="keywords"
      content="web developer, soper oklahoma, software developer, portfolio, resume, raymond thurman, ray thurman, Choctaw, Pushamataha, Push County"
    />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:title" content={% block og_title %}"Raymond Thurman - Portfolio"{% endblock og_title %}>
    <meta property="og:description"
      content={% block og_description %}"Raymond Thurman is a professional freelance web and software developer serving Choctaw and Pushmataha Counties in Southwestern Oklahoma. Contact Raymond for high-quality web development services."{% endblock og_description %}>
    <meta property="og:url" content={% block og_url %}"https://www.raymondthurman.com"{% endblock og_url %}>
    <meta property="og:site_name" content="Raymond Thurman - Portfolio">
    <meta property="og:image" content="{% static 'images/logo.png' %}">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Raymond Thurman - Portfolio">
    <meta name="twitter:description"
      content="Raymond Thurman is a professional freelance web and software developer serving Choctaw and Pushmataha Counties in Southwestern Oklahoma. Contact Raymond for high-quality web development services.">
    <meta property="twitter:image" content="{% static 'images/logo.png' %}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Raymond Thurman - Portfolio{% endblock title %}</title>
    <base href="/" />
    <!-- Custom CSS -->
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" />
    {% bootstrap_javascript %}
  </head>

  <body>
    {% include 'components/navbar.html' %}
    <div class="container-fluid px-0">
      {% block content %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer class="text-center py-4">
      <div class="container px-5 mb-2">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        Raymond Thurman.
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
