{% extends "_base.html" %}
{% block content %}
<div class="header">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg shadow">
        <div class="container-fluid">

            <a class="col-md-3 d-flex align-items-center mb-2 mb-md-0 h4 text-white text-decoration-none text-uppercase fw-bolder"
                href="/">
                <span class="material-icons-outlined ms-2 me-3">logo_dev</span>
                Ray Thurman
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="material-icons-outlined text-white">menu</span>
            </button>

            <div class="container px-3">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link me-lg-3 text-white text-uppercase" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3 text-white text-uppercase" href="#summary">Summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3 text-white text-uppercase" href="#employment">Employment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-lg-3 text-white text-uppercase" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <!-- Summary -->
    <header id="summary" class="text-center py-5">
        <div class="container">
            {% if summary_data %}
            <div class="row">

                {% for summary in summary_data %}
                <div class="col-lg-12 mx-auto my-5">
                    <h2 class="fw-bold">{{ summary.title }}</h2>
                    <p class="text-white mb-0">
                        {{ summary.description }}
                    </p>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h5 class="text-primary text-center">No Data</h5>
            {% endif %}
        </div>
    </header>
    <!-- End Summary -->

    <!-- Waves Container -->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!-- End Waves Container -->
</div>

<main>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Employment -->
                <section id="employment" class="text-left py-5">
                    {% if employment_data %}
                    <h2 class="fw-bold text-center py-3">Employment</h2>
                    {% for employment in employment_data %}
                    <div class="mx-auto mb-5">
                        <h5>{{ employment.title }}</h5>
                        <p class="text-muted mb-0">
                            {{ employment.description }}
                        </p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h5 class="text-primary text-center">No Data</h5>
                    {% endif %}
                </section>
                <!-- End Employment -->
                <hr>
                <!-- Projects -->
                <section id="projects" class="text-left py-5">
                    {% if projects_data %}
                    <h2 class="fw-bold text-center py-3">Projects</h2>
                    {% for projects in projects_data %}
                    <div class="mx-auto mb-5">
                        <h5>{{ projects.title }}</h5>
                        <p class="text-muted mb-0">
                            {{ projects.description }}
                        </p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h5 class="text-primary text-center">No Data</h5>
                    {% endif %}
                </section>
                <!-- End Projects -->
            </div>
            <div class="col-12 col-lg-4">
                <!-- Education -->
                <section id="education" class="text-end text-right py-5">
                    {% if education_data %}
                    <h2 class="fw-bold text-center py-3">Education</h2>
                    {% for education in education_data %}
                    <div class="mx-auto mb-5">
                        <h5>{{ education.title }}</h5>
                        <p class="text-muted mb-0">
                            {{ education.description }}
                        </p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h5 class="text-primary text-center">No Data</h5>
                    {% endif %}
                </section>
                <!-- End Education -->
                <hr>
                <!-- Skills -->
                <section id="skills" class="text-end py-5">
                    {% if skill_data %}
                    <h2 class="fw-bold text-center py-3">Skills</h2>
                    {% for skill in skill_data %}
                    <div class="mx-auto mb-4">
                        <h5>{{ skill.skill }}</h5>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h5 class="text-primary text-center">No Data</h5>
                    {% endif %}
                </section>
                <!-- End Skill -->
            </div>
        </div>
    </div>
    <!-- Contact -->
    <section id="contact" class="bg-primary p-5 p-sm-5 mt-5">
        <div class="container">
            {% if contact_data %}
            <ul class="nav justify-content-center my-3">
                {% for contact in contact_data %}
                <li class="nav-item me-5">
                    <a href="#" class="nav-link px-2 text-white">
                        <span class="material-icons-outlined contact-icon me-1">place</span>
                        {{ contact.address }}
                    </a>
                </li>
                <li class="nav-item me-5">
                    <a href="#" class="nav-link px-2 text-white">
                        <span class="material-icons-outlined contact-icon me-1">email</span>
                        {{ contact.email }}
                    </a>
                </li>
                <li class="nav-item me-5">
                    <a href="#" class="nav-link px-2 text-white">
                        <span class="material-icons-outlined contact-icon me-1">phone</span>
                        {{ contact.phone }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <h5 class="bg-primary text-white text-center">No Data</h5>
            {% endif %}
        </div>
    </section>
    <!-- End Contact-->
</main>
{% endblock %}