{% load static %}

<header id="summary" class="text-center py-5">
  <div class="container">
    {% if summary_data %}
    <div class="row">
      {% for summary in summary_data %}
      <div class="col-lg-12 mx-auto my-5">
        <h2 class="fw-bold">{{ summary.title }}</h2>
        <p class="text-white mb-0">{{ summary.description }}</p>
      </div>
      {% endfor %}
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a
          href="{% url 'download_resume' %}"
          class="btn btn-light btn-lg text-uppercase px-4 py-2 me-sm-3"
          >Download Resume</a
        >
      </div>
    </div>
    {% else %}
    <h5 class="text-primary text-center">No Data</h5>
    {% endif %}
  </div>
</header>
